[Unit]
Description = valved service

[Service]
Type = simple
Environment = "VSOCKET_ADDR=:12001"
Environment = "VPIN_1=5"
Environment = "VPIN_2=6"
ExecStart = /usr/local/valved
Restart = on-abort
StartLimitInterval = 60
StartLimitBurst = 10

[Install]
WantedBy = multi-user.target

